.footer__link {
  color: #fff;
  text-decoration: none;
  min-height: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: 'Inter';
  font-style: normal;
}

.footer__link:hover {
  transition: 2s;
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}