.lead__title {
  margin: 0;
  padding: 0 0 32px 0;
  max-width: 720px;
  min-height: 200px;
  color: #FFFFFF;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    padding: 0 0 16px 0;
    max-width: 288px;
    min-height: 88px;
    font-size: 40px;
    line-height: 44px;
  }
}
