.logo {
  background-image: url(../../sprint-3-images/header-logo.svg);
  width: 176px;
  height: 52px;
  color: #FFFFFF;
}

.logo:hover {
  transition: 2s;
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .logo {
    width: 142px;
    height: 42px;
    background-size: cover;
  }
}