.lead__caption {
  margin: 0;
  padding: 0 0 0 0;
  min-height: 14px;
  font-size: 10px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #fff;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  display: flex;
  align-self: start;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    padding: 0 0 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption{
    padding: 0 0 0 16px;
  }
}
