.footer {
  margin: 0;
  padding: 0 48px 24px 48px;
  max-width: 1184px;
  min-height: 18px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: 928px;
    min-height: 18px;
  }
}

@media screen and (max-width: 1023px) {
  .footer { 
    padding: 0 24px 24px 24px;
    max-width: 720px;
    min-height: 18px;
    
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 0 118px 24px 16px;
    max-width: 188px;
    min-height: 310px;
    flex-direction: column;
  }
}


